<h1>User <%= @user.email %></h1>

<% if @reviews.any? %>
<h4>Here are the reviews for this user:</h4>
  <% @reviews.each do |review| %>
    <ul>
      <% if review.author == @user.email %>
      <li>
        <%= link_to review, review_path(@user, review) %>
      </li>
    </ul>
    <% end %>
  <% end %>
<% else %>
  <p>No reviews are listed for this user.</p>
<% end %>

<p><%= link_to "Change User Privileges", edit_user_path(@user) %></p>

<p><%= link_to "Return to users", users_path %></p>
