 body {
   font-size: 20px;
   line-height: 2;
   color: white;
   font-weight: bold;
   background-image: url('https://www.custommade.com/blog/content/uploads/2014/09/urban-chicken-header.jpg');
 }

h1 {
  font-variant: small-caps;
  font-size: 50px;
  text-align: center;
}

.row {
  margin-left: 10%;
}

.column {
  float: left;
  width: 30%;
  background: rgba(50, 10, 0, .7);
  padding: 5px;
  margin: 3px;
  border: 1px solid;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.list {
  column-count: 3;
}

h2 {
  font-size: 26px;
  text-align: center;
}

a {
  text-decoration: none;
}

.admin {
  float: right;
}

.content {
  background: rgba(50, 10, 0, .85);
  padding: 5%;
}

.navbar {
  background-color: white;
  color: black;
}

img {
  width: 25px;
}
