 body {
   background-color: #DEDBD2;
   font-size: 20px;
   line-height: 2;
   color: #4A5759;
 }

h1 {
  font-variant: small-caps;
  font-size: 50px;
  text-align: center;
}

.row {
  margin-left: 10%;
}
.column {
  float: left;
  width: 30%;
  background-color: #B0C4B1;
  padding: 5px;
  margin: 3px;
  border: 1px solid;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.list {
  column-count: 3;
}

h2 {
  font-size: 26px;
  text-align: center;
  background-color:
}
