<h1>Mario's Speciality Food Products</h1>

<h2>About Mario's</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class="row">

  <div class="column">
    <h2>Here are some products that were made in the US!</h2>
    <% if @products.usa.any? %>
      <% @products.usa.each do |product| %>
      <p><img src="http://pngimg.com/uploads/egg/egg_PNG17.png" alt="egg"> <%= link_to product.name, product_path(product) %></p>
      <% end %>
    <% end %>
  </div>

  <div class="column">
  <h2>These are our three most recently added products!</h2>
  <% if @products.three_most_recent.any? %>
    <% @products.three_most_recent.each do |product| %>
    <p><img src="http://pngimg.com/uploads/egg/egg_PNG17.png" alt="egg"> <%= link_to product.name, product_path(product) %></p>
    <% end %>
  <% end %>
  </div>

  <div class="column">
  <h2>This is our most-reviewed product!</h2>
  <% if @products.most_reviews.any? %>
    <p><img src="http://pngimg.com/uploads/egg/egg_PNG17.png" alt="egg"> <%= link_to @products.most_reviews.first.name, product_path(@products.most_reviews.first) %></p>
  <% end %>
  </div>

</div>

<h2>More Products!</h2>

<div class="list">
  <% if @products.any? %>
    <% @products.each do |product| %>
    <p><img src="http://pngimg.com/uploads/egg/egg_PNG17.png" alt="egg"> <%= link_to product.name, product_path(product) %></p>
    <% end %>
  <% else %>
  <p>There are no products yet.</p>
  <% end %>
</div>
